@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-background: #000000;
  --color-foreground: #ffffff;
  --color-muted: #0a0a0a;
  --color-accent: #ffffff;
  --color-chart: #096ec0;

  --animate-shine: shine 6s linear infinite;
  --animate-brightness: brightness 2.2s linear infinite;

  @keyframes shine {
    from {
      background-position: 0 0;
    }

    to {
      background-position: -400% 0;
    }
  }

  @keyframes brightness {
    0% {
      transform: skew(-13deg) translateX(-100%);
    }

    100% {
      transform: skew(-13deg) translateX(100%);
    }
  }
}

::-webkit-scrollbar {
  width: 0px;
  height: 1px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: var(--color-background);
  border-radius: 4px;
  border: 2px solid transparent;
  background-clip: content-box;
}

html {
  position: relative;
}